.idea/
.vscode/
*.log
*.tmp
.DS_Store
Thumbs.db

node_modules/
vendor/

*.env
config.php

assets/images/*.jpg
assets/images/*.jpeg
assets/images/*.png
assets/images/*.gif
assets/images/*.webp
!assets/images/no-image.png
